*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
:root
{
    --clr: #222327;
}
body
{
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
.navigation
{
    width: 400px;
    height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}